* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --color-card: rgb(208, 143, 63);
}

body {
    height: 100vh;
    width: 100vw;

    background-image: url("./images/ganapathy-kumar-unsplash.jpg");
    background-size: cover; /* scales and crops image to fit the container */
}

body > h1 {
    color: white;
    padding: 1em;
    text-align: center;
}

.container {
    /* width: 60vw; */
    margin: 1em;
    padding: 2em 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;

    /* gap: 0.1em;  */
    border: 2px solid rgb(88, 77, 1);    
}

.book-card {
    height: 8em;
    width: 5em;
    
    background-color: var(--color-card);
    border-radius: 0.1em;
    padding: 1em;
    /* box-shadow: 2px 3px 5px 1px rgba(0, 0, 255, .2); */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

