* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --color-card: rgb(208, 143, 63);
}

body {
    height: 100vh;
    width: 100vw;

    background-image: url("./images/ganapathy-kumar-unsplash.jpg");
    background-size: cover; /* scales and crops image to fit the container */

    display: flex;
    flex-direction: column;
    align-items: center;
}

body > h1 {
    color: white;
    padding: 1em;
    text-align: center;
}

.shelf-container {
    width: 60vw; 

    margin: 1em;
    padding: 2em 0;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    gap: 1em;  

    border: 1em solid rgb(88, 77, 1);    
}

.book-card {
    height: 8em;
    width: 5em;
    
    background-color: var(--color-card);
    border-radius: 0.2em;
    padding: 0.5em;
    /* box-shadow: 2px 3px 5px 1px rgba(0, 0, 255, .2); */
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-info {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.book-card p {
    font-size: 0.65em;
}

.remove-book {
    display:flex;
    justify-content: flex-end;
    gap:0.5em;
}


#remove-btn {
    border: 0;
    background-color: rgba(218, 7, 4, 0.292); 
    color: white;
    font-size: 0.7em;
    font-weight: bold;
    padding: 0.1em 0.2em;  
    border-radius: 0.2em;      
}

#remove-btn:hover {
    cursor: pointer;
    background-color: rgba(218, 7, 4, 0.685);
    border: 1px solid whitesmoke;
}

#read-status-btn {
    border: 0;
    background-color: rgba(2, 117, 77, 0.292); 
    color: white;
    font-size: 0.7em;
    font-weight: bold;
    padding: 0.1em 0.2em;  
    border-radius: 0.2em;      
}

#read-status-btn:hover {
    border: 1px solid whitesmoke;
} 

#read-status-btn.read-status-toggled {
    background-color: rgb(2, 117, 77);
}


/* Backdrop for add book form */
::backdrop {
    background-image: linear-gradient(
      45deg,
      magenta,
      rebeccapurple,
      dodgerblue,
      green
    );
    opacity: 0.75;
}

dialog {
    position: relative;
    margin: 0 auto;
    top: 25%;

    padding: 1em;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1 {
    border: 0;
    background-color: rgb(16, 80, 58);
    color: white;
    font-weight: bold;
    padding: 0.5em 2em;  
    border-radius: 0.5em;      
}

.btn1:hover {
    cursor: pointer;
    background-color: rgba(26, 117, 85, 0.897);
    border: 1px solid whitesmoke;
}


dialog h3 {
    text-align: center;
}

dialog .input-field {
    /* display: flex; */
    margin: 1em 1em;
}

dialog label {
    display: inline-block;
    min-width: 5em;
    text-align: right;
} 

.form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

input {
    font-size: 1em;
    height: 1.8em;
    width: 14em;
    border-radius: 0.2em;
    border: 1px solid rgb(189, 188, 188);
    padding: 0.2em 0.4em;
}

input:focus {
    outline-color: #084821ae;
    outline-style: solid;
    outline-width: 2px;
    box-shadow: 3px 3px 5px 1px rgba(98, 98, 145, 0.776);

}





